ARIA_FHIR_TOKEN_URL=https://<token-host>/tokenservice/connect/token
ARIA_FHIR_BASE_URL=https://<fhir-host>/fhir/r4
ARIA_FHIR_CLIENT_ID=<client-id>
ARIA_FHIR_CLIENT_SECRET=<client-secret>
ARIA_FHIR_SCOPE=system/DocumentReference.cruds system/Patient.rs system/Organization.rs system/ValueSet.rs system/Practitioner.rs
ARIA_FHIR_VERIFY_TLS=true

# Optional local testing only.
ARIA_TEST_PATIENT_IDENTIFIER=<test-patient-identifier>
ARIA_FHIR_WINDOWS_DOMAIN=<domain>
ARIA_FHIR_WINDOWS_USER=<username>
